@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
.font-serif {
  font-family: "DM Serif Text", serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Public Sans", "DM Serif Text", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
